<template>
  <div class="hide-overflow">
    <v-toolbar card color>
      <v-toolbar-title class="font-weight-light">My responses</v-toolbar-title>
    </v-toolbar>
    <v-divider></v-divider>
    <v-card-actions>
      <v-spacer></v-spacer>
    </v-card-actions>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>
