<template>
  <div class="hide-overflow">
    <v-toolbar card color>
      <v-toolbar-title class="font-weight-light">My topics</v-toolbar-title>
    </v-toolbar>
    <v-divider></v-divider>
    <div class="my-topics pt-4">
      <v-card-text>
        <v-layout wrap>
          <ul>
            <v-flex>
              <li v-for="topic in topics" :key="topic.id">
                <router-link
                  class="title"
                  :to="{ name: 'topic', params: { 'topicId': topic.id }}"
                >{{ topic.title }}</router-link>
                <div class="topic-meta">
                  <span>Category:</span>
                  <span class="grey--text ml-1">{{ topic.category }}</span>
                  <span class="date ml-3">Date:</span>
                  <span class="grey--text ml-1 topic-date-text body-2 ml-1">{{ topic.date }}</span>
                </div>
              </li>
            </v-flex>
          </ul>
          <div v-show="!hasWrotedTopics" class="has-no-topics">You have not wroted topics yet</div>
        </v-layout>
      </v-card-text>
    </div>
    <v-card-actions>
      <v-spacer></v-spacer>
    </v-card-actions>
  </div>
</template>
<script>
export default {
  data() {
    return {
      hasWrotedTopics: false,
      topics: []
    };
  },
  methods: {
    checkWroted() {
      if (this.topics.length === 0) {
        console.log("praznooo");
        this.hasWrotedTopics = false;
      } else {
        this.hasWrotedTopics = true;
      }
    },
    fetchWroted() {
      this.topics = this.$store.getters.getWrotedTopics;
    }
  },
  computed: {
    // topics() {
    //   return this.$store.getters.getWrotedTopics;
    // }
  },
  created() {
    this.fetchWroted();
  },
  mounted() {
    this.checkWroted();
    // this.topics = this.$store.getters.wrotedTopics;
  }
};
</script>
<style scoped>
.my-topics li {
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
}
.my-topics li::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 4px;
  left: 0;
  top: 0;
}
.my-topics li:nth-child(odd):before {
  background-color: #fbe58c;
}
.my-topics li:nth-child(even):before {
  background-color: #66abb0;
}
</style>
