<template>
  <div class="hide-overflow">
    <v-toolbar card color>
      <v-toolbar-title class="font-weight-light">User Profile</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn color="gray" fab small @click="isEditing = !isEditing, notice = false">
        <v-icon v-if="isEditing">close</v-icon>
        <v-icon v-else>edit</v-icon>
      </v-btn>
    </v-toolbar>
    <v-card-text>
      <v-layout wrap @click="checkEditing">
        <v-flex xs12 md6 pr-3>
          <v-text-field :disabled="!isEditing" label="First Name" v-model="firstname"></v-text-field>
        </v-flex>
        <v-flex xs12 md6 pl-3>
          <v-text-field :disabled="!isEditing" label="Last Name" v-model="lastname"></v-text-field>
        </v-flex>
        <v-flex xs12 md6 pr-3>
          <v-text-field :disabled="!isEditing" label="Username" v-model="username"></v-text-field>
        </v-flex>
        <v-flex xs12 md6 pl-3>
          <v-text-field :disabled="true" label="Email" v-model="email" required></v-text-field>
        </v-flex>
      </v-layout>
    </v-card-text>
    <v-divider></v-divider>
    <v-card-actions>
      <v-spacer></v-spacer>
      <transition name="fade">
        <v-card-text class="pb-0 pt-2 red--text" v-show="notice">{{ noticeText }}</v-card-text>
      </transition>
      <v-btn :disabled="!isEditing" color="success" @click="save">Update</v-btn>
    </v-card-actions>

    <!-- <div>{{ user.email }}</div> -->
  </div>
</template>
<script>
export default {
  data() {
    return {
      hasSaved: false,
      isEditing: null,
      notice: false,
      noticeText: "",
      firstname: "",
      lastname: "",
      username: "",
      email: ""
    };
  },
  computed: {
    user() {
      return this.$store.getters.user;
    }
  },
  mounted() {
    let usr = this.$store.getters.user;
    // let usr = this.user;
    this.firstname = usr.firstname;
    this.lastname = usr.lastname;
    this.username = usr.username;
    this.email = usr.email;
  },
  methods: {
    save() {
      if (this.email.trim() === "") {
        this.notice = true;
        this.trigerError("Email address field can't be empty");
        return;
      }
      const payload = {
        email: this.email,
        firstname: this.firstname,
        lastname: this.lastname,
        username: this.username,
        id: this.user.id
      };
      this.$store.dispatch("updateUser", payload);
      this.hasSaved = true;
    },
    trigerError(error) {
      this.noticeText = error;
      setTimeout(() => {
        this.notice = true;
        this.noticeText = "";
      }, 3000);
    },
    checkEditing() {
      if (!this.isEditing) {
        this.noticeText =
          "Press edit icon at the top right corner to edit your profile";
        this.notice = true;
      } else {
        this.notice = false;
      }
    }
  }
};
</script>

<style>
</style>
