<template>
  <div class="hide-overflow">
    <v-toolbar card color>
      <v-toolbar-title class="font-weight-light">Password Reset</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-divider></v-divider>
    <div class="password-reset pt-4">
      <v-card-text>
        <v-layout wrap>
          <v-flex>This option is not available yet</v-flex>
        </v-layout>
      </v-card-text>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>
