<template>
  <div>
    <v-layout row>
      <v-flex
        tag="h1"
        class="headline main-heading font-weight-medium text-uppercase"
        mb-3
      >Categories</v-flex>
    </v-layout>
    <v-layout row wrap text-xs-center mt3>
      <!-- <div v-if="loading"> -->
      <v-progress-linear v-show="loading" :indeterminate="true"></v-progress-linear>
      <!-- </div> -->
      <v-flex v-show="!loading" v-for="cat in categories" :key="cat.id" xs4 class="topic-card">
        <v-card class="text-lg-left">
          <img src="https://placeimg.com/640/480/arch/sepia">
          <v-card-title primary-title>
            <div>
              <div class="headline">{{ cat }}</div>
            </div>
          </v-card-title>
          <v-card-title class="justify-space-between">
            <router-link :to="{ name: 'topic', params: { topicId: topic.id } }">
              <v-btn flat class="accent">Read</v-btn>
            </router-link>
            <div class="topic-date">
              <v-icon class="topic-date-event-icon warning--text">event</v-icon>
              <span class="grey--text ml-1 topic-date-text">{{ topic.date }}</span>
            </div>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>
