<template>
  <div>
    <v-layout row>
      <v-flex
        tag="h1"
        class="headline main-heading font-weight-medium text-uppercase"
        mb-3
      >Latest topics</v-flex>
    </v-layout>
    <v-layout row wrap text-xs-center mt3>
      <!-- <div v-if="loading"> -->
      <v-progress-linear v-show="loading" :indeterminate="true"></v-progress-linear>
      <!-- </div> -->
      <v-flex v-show="!loading" v-for="topic in topics" :key="topic.id" xs4 class="topic-card">
        <v-card class="text-lg-left">
          <router-link :to="{ name: 'topic', params: { topicId: topic.id } }">
            <img src="https://placeimg.com/640/480/arch/sepia">
          </router-link>
          <v-card-title primary-title>
            <div>
              <router-link :to="{ name: 'topic', params: { topicId: topic.id } }">
                <div class="title mb-2 accent--text">{{ topic.title }}</div>
              </router-link>
              <div class="grey--text font-weight-medium" v-html="texcerpt(topic.text, 7)"></div>
            </div>
          </v-card-title>
          <v-card-title class="justify-space-between">
            <router-link :to="{ name: 'topic', params: { topicId: topic.id } }">
              <v-btn flat class="accent">Read More</v-btn>
            </router-link>
            <div class="topic-date">
              <v-icon class="topic-date-event-icon warning--text">event</v-icon>
              <span class="grey--text ml-1 topic-date-text">{{ topic.date }}</span>
            </div>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import { excerpt } from "@/helpers";
export default {
  data() {
    return {
      // txt:
    };
  },
  computed: {
    topics() {
      return this.$store.getters.featuredTopics;
    },
    loading() {
      return this.$store.getters.loading;
    }
  },
  methods: {
    texcerpt(text, num) {
      return excerpt(text, num);
    }
  }
};
</script>
<style>
.topic-date {
  display: flex;
}
.topic-date-event-icon {
  font-size: 22px;
}
</style>