<template>
  <v-container>
    <v-layout row>
      <v-flex tag="h1" class="headline" mb-3>Create a new topic</v-flex>
    </v-layout>
    <v-card>
      <!-- <h1 class="page-heading">User registration</h1> -->
      <v-layout row>
        <v-flex xs12 sm6>
          <!-- <v-card> -->
          <v-container>
            <form @submit.prevent="createTopic">
              <v-layout row>
                <v-flex xs12>
                  <v-text-field
                    name="title"
                    label="Title"
                    id="title"
                    v-model="title"
                    type="text"
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex xs12>
                  <v-select :items="categories" label="Select category" solo v-model="category"></v-select>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex xs12>
                  <!-- <v-textarea name="text" label="Text" hint="type text for a topic" v-model="text"></v-textarea> -->
                  <editor
                    api-key="7hqpofhthaertahk4fxqurd60arlrwf2bpvvbp2mccq90540"
                    :init="{plugins: 'wordcount'}"
                    v-model="text"
                  ></editor>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex xs12 mt-3>
                  <v-btn
                    type="submit"
                    primary
                    :disabled="!isFormValid"
                    :loading="loading"
                  >Create a new topic</v-btn>
                </v-flex>
              </v-layout>
            </form>
          </v-container>
          <!-- </v-card> -->
        </v-flex>
        <v-flex xs12 offset-sm1 sm3>
          <v-container>
            <!-- <v-alert :value="error" type="error">{{ error }}</v-alert> -->
            <v-layout row>
              <v-flex xs12>
                <v-combobox
                  v-model="tagModel"
                  :items="tags"
                  :search-input.sync="search"
                  hide-selected
                  hint
                  label="Add some tags"
                  multiple
                  persistent-hint
                  small-chips
                >
                  <template v-slot:no-data>
                    <v-list-tile>
                      <v-list-tile-content>
                        <v-list-tile-title>
                          No results matching "
                          <strong>{{ search }}</strong>". Press
                          <kbd>enter</kbd> to create a new one
                        </v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                  </template>
                </v-combobox>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12>
                <v-menu
                  ref="menu1"
                  v-model="menu1"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="dateFormatted"
                      label="Date"
                      hint="MM/DD/YYYY format"
                      persistent-hint
                      prepend-icon="event"
                      @blur="date = parseDate(dateFormatted)"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="date" no-title @input="menu1 = false"></v-date-picker>
                </v-menu>
                <!-- <p style="margin-top: 10px;">
              Date in ISO format:
              <strong>{{ date }}</strong>
                </p>-->
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>

        <v-flex xs12 sm3 pl-4>
          <v-container>
            <!-- <v-alert :value="error" type="error">{{ error }}</v-alert> -->
            <v-switch v-model="published" :label="published ? 'Published' : 'Not published'"></v-switch>
          </v-container>
        </v-flex>
      </v-layout>
    </v-card>
  </v-container>
</template>
<script>
import Editor from "@tinymce/tinymce-vue";
export default {
  data(vm) {
    return {
      title: "",
      text: "",
      category: "",
      userID: this.$store.getters.user,
      published: true,
      tagModel: [],
      search: null,
      date: new Date().toISOString().substr(0, 10),
      dateFormatted: vm.formatDate(new Date().toISOString().substr(0, 10)),
      menu1: false
    };
  },
  components: {
    editor: Editor
  },
  created() {},
  watch: {
    model(val) {
      if (val.length > 5) {
        this.$nextTick(() => this.tagModel.pop());
      }
    },
    date() {
      this.dateFormatted = this.formatDate(this.date);
    }
  },
  computed: {
    categories() {
      return this.$store.getters.categories;
    },
    tags() {
      return this.$store.getters.tags;
    },
    computedDateFormatted() {
      return this.formatDate(this.date);
    },
    loading() {
      return this.$store.getters.loading;
    },
    isFormValid() {
      return (
        this.title !== "" &&
        this.text !== "" &&
        this.category !== "" &&
        this.dateFormatted !== ""
      );
    }
  },
  methods: {
    createTopic() {
      const NewTopic = {
        title: this.title,
        text: this.text,
        tags: this.tagModel,
        date: this.computedDateFormatted,
        category: this.category,
        published: this.published,
        userId: this.$store.getters.user.id
      };
      console.log(NewTopic);
      this.$store.dispatch("createNewTopic", NewTopic);
      this.$router.push("/profile");
    },
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${month}-${day}-${year}`;
    },
    parseDate(date) {
      if (!date) return null;

      const [month, day, year] = date.split("-");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    }
  }
};
</script>

<style></style>
