<template>
  <v-container grid-list-md>
    <v-layout row wrap>
      <v-flex xs3 class="sidebar">
        <v-card>
          <ul>
            <li
              v-for="item in sideItems"
              :key="item.component"
              @click.prevent="subpage = item.component"
              :class="{active: item.component == subpage}"
            >
              <a href="#">{{ item.title }}</a>
            </li>
          </ul>
        </v-card>
      </v-flex>
      <v-flex xs9 child-flex pl-4>
        <v-card class="pl-0">
          <v-card-text class="px-0 pt-0">
            <transition name="fade" mode="out-in">
              <keep-alive>
                <component v-bind:is="subpage"></component>
              </keep-alive>
            </transition>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Profile from "@/components/Profile/ProfileIndex";
import ResetPass from "@/components/Profile/ResetPass";
import MyTopics from "@/components/Profile/MyTopics";
import MyResponses from "@/components/Profile/MyResponses";

export default {
  data() {
    return {
      subpage: "pro",
      sideItems: [
        { component: "pro", title: "My Account" },
        { component: "reset-pass", title: "Password Reset" },
        { component: "my-topics", title: "My topics" },
        { component: "my-responses", title: "My responses" }
      ]
    };
  },
  components: {
    pro: Profile,
    "reset-pass": ResetPass,
    "my-topics": MyTopics,
    "my-responses": MyResponses
  },
  created() {
    const user = this.$store.getters.user;
    this.$store.dispatch("setWrotedTopics", user.id);
  }
};
</script>
<style scoped>
.sidebar ul {
  padding-left: 0;
}
.sidebar li {
  padding: 15px 20px;
  list-style: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.sidebar li:hover,
.sidebar li.active {
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar li a {
  width: 100%;
}
</style>
