<template>
  <v-container>
    <v-layout row>
      <v-flex tag="h1" class="headline" mb-3>User registration</v-flex>
    </v-layout>
    <!-- <h1 class="page-heading">User registration</h1> -->
    <v-layout row>
      <v-flex xs12 sm6>
        <v-card>
          <!-- <c-card-text> -->
          <v-container>
            <form @submit.prevent="onSignup">
              <v-layout row>
                <v-flex xs12>
                  <v-text-field
                    name="email"
                    label="Mail"
                    id="email"
                    v-model="email"
                    type="email"
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex xs12>
                  <v-text-field
                    name="password"
                    label="Password"
                    id="password"
                    v-model="password"
                    type="password"
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex xs12>
                  <v-text-field
                    name="confirmPassword"
                    label="Confirm Password"
                    id="confirmPassword"
                    v-model="confirmPassword"
                    type="password"
                    :rules="[comparePasswords]"
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex xs12 class="mt-2">
                  <v-btn type="submit" primary :disabled="loading" :loading="loading">Sign Up</v-btn>
                </v-flex>
              </v-layout>
            </form>
          </v-container>
        </v-card>
      </v-flex>
      <v-flex xs12 offset-sm1 sm5>
        <v-alert :value="error" type="error">{{ error }}</v-alert>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: "",
      confirmPassword: ""
    };
  },
  computed: {
    comparePasswords() {
      return this.password !== this.confirmPassword
        ? "Passwords do not match"
        : true;
    },
    user() {
      return this.$store.getters.user;
    },
    error() {
      return this.$store.getters.error;
    },
    loading() {
      return this.$store.getters.loading;
    }
  },
  watch: {
    user(value) {
      // redirect after successful sign up
      if (value !== null && value !== undefined) {
        this.$router.push("/profile");
      }
    }
  },
  methods: {
    onSignup() {
      // Vuex
      if (this.comparePasswords === true) {
        this.$store.dispatch("signUserUp", {
          email: this.email,
          password: this.password
        });
      }
    }
  }
};
</script>

<style></style>
