<template>
  <v-container>
    <v-layout row>
      <v-flex tag="h1" class="headline" mb-3>User Login</v-flex>
    </v-layout>
    <!-- <h1 class="page-heading">User registration</h1> -->
    <v-layout row>
      <v-flex xs12 sm6>
        <v-card>
          <!-- <c-card-text> -->
          <v-container>
            <form @submit.prevent="onSignin">
              <v-layout row>
                <v-flex xs12>
                  <v-text-field
                    name="email"
                    label="Mail"
                    id="email"
                    v-model="email"
                    type="email"
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex xs12>
                  <v-text-field
                    name="password"
                    label="Password"
                    id="password"
                    v-model="password"
                    type="password"
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex xs12 class="mt-2">
                  <v-btn type="submit" primary :disabled="loading" :loading="loading">Sign In</v-btn>
                </v-flex>
              </v-layout>
            </form>
          </v-container>
          <!-- </c-card-text> -->
        </v-card>
      </v-flex>
      <v-flex xs12 sm6></v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: "",
      confirmPassword: ""
    };
  },
  computed: {
    user() {
      return this.$store.getters.user;
    },
    loading() {
      return this.$store.getters.loading;
    }
  },
  watch: {
    user(value) {
      // redirect after successful login
      if (value !== null && value !== undefined) {
        this.$router.push("/profile");
      }
    }
  },
  methods: {
    onSignin() {
      // Vuex
      this.$store.dispatch("signUserIn", {
        email: this.email,
        password: this.password
      });
    }
  }
};
</script>

<style></style>
