<template>
  <v-container grid-list-sm>
    <v-layout row wrap mt-3>
      <v-flex sm2>
        <v-btn @click="$router.go(-1)" class="ml-0 mb-3">
          <v-icon left dark>keyboard_backspace</v-icon>Back
        </v-btn>
        <h5 class="body-1">
          <span class="topic-cat font-weight-medium">Category:</span>
          {{ topic.category }}
        </h5>
      </v-flex>
      <v-flex sm10>
        <v-layout column>
          <v-card>
            <v-container sm-6 offset-sm-3>
              <v-flex tag="h1" class="display-2 text-xs-center mb-4">{{ topic.title }}</v-flex>

              <div class="topic-content">
                <div class="main-content body-1" v-html="topic.text"></div>
              </div>

              <div class="share-topic">
                <v-layout justify-center>
                  <v-btn color="accent" @click="expand = !expand">Share</v-btn>
                  <v-flex shrink>
                    <v-expand-x-transition>
                      <div v-show="expand" class="social-icons" style="white-space: nowrap">
                        <v-btn flat class="fb">Facebook</v-btn>
                        <v-btn flat class="tw">Twitter</v-btn>
                        <v-btn flat class="insta">Instagram</v-btn>
                      </div>
                    </v-expand-x-transition>
                  </v-flex>
                </v-layout>
              </div>

              <div class="topic-tags text-xs-center">
                <router-link
                  class="tag"
                  v-for="tag in topic.tags"
                  :key="tag"
                  :to="{ path: `/tag/${tag}` }"
                >{{ tag }}</router-link>
              </div>
            </v-container>
          </v-card>
        </v-layout>
        <v-layout column>
          <v-card>
            <v-container sm-6 offset-sm-3>
              <v-flex tag="h2" class="display-1 text-xs-center mb-4">Comments</v-flex>

              <div class="comments">
                <div class="no-comments" v-if="!topic.comments">This article has no comments yet</div>
                <div class="comments-list" v-else>
                  <ul>
                    <li
                      v-for="comment in topic.comments"
                      :key="comment.id"
                      class="mt-4 comment-item"
                    >
                      <span class="grey--text mr-1">by</span>
                      <span class="accent--text">{{ comment.username || 'Guest' }}</span>
                      <br>
                      <div class="comment-text mt-3">{{ comment.text }}</div>
                    </li>
                  </ul>
                </div>
                <div class="create-comment mt-4">
                  <div v-if="commentForm" class="comment-form">
                    <form action @submit.prevent="createNewComment">
                      <v-text-field v-model="username" :rules="[rules.required]" label="Your name"></v-text-field>
                      <v-textarea
                        v-model="text"
                        label="Your comment goes here"
                        :rules="[rules.required]"
                        class="mt-3"
                      ></v-textarea>
                      <v-btn
                        class="mt-3"
                        type="submit"
                        primary
                        :disabled="!isFormValid"
                        :loading="loading"
                      >Create a new comment</v-btn>
                    </form>
                  </div>
                  <v-btn v-else @click="commentForm = true">Create a new comment</v-btn>
                </div>
              </div>
            </v-container>
          </v-card>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  props: ["topicId"],
  data() {
    return {
      expand: false,
      commentForm: false,
      text: "",
      username: "",
      rules: {
        required: value => !!value || "Required."
      }
    };
  },
  methods: {
    createNewComment() {
      const comment = {
        text: this.text,
        userId: this.$store.getters.user.id,
        username: this.username,
        topicId: this.$route.params.topicId
      };
      if (this.$store.dispatch("createNewComment", comment)) {
        this.text = "";
        this.username = "";
        this.commentForm = false;
      }
    }
  },
  computed: {
    topic() {
      return this.$store.getters.loadedTopic(this.$route.params.topicId);
    },
    isFormValid() {
      return this.text !== "" && this.username !== "";
    },
    loading() {
      return this.$store.getters.loading;
    }
  }
  // watch: {
  //   topic(val) {
  //     this.comments = this.topic.comments;
  //   }
  // }
};
</script>
 
<style scoped>
.topic-tags {
  margin: 50px;
}
.comment-form {
  padding: 20px 100px;
}
.comment-item {
  padding: 10px 20px;
  position: relative;
}
.comment-item:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 4px;
  left: 0;
  top: 0;
}
.comment-item:nth-child(odd):before {
  background-color: #fbe58c;
}
.comment-item:nth-child(even):before {
  background-color: #66abb0;
}
.topic-tags .tag {
  padding: 5px 10px;
  border: 1px solid #2d2d2d;
  margin: 7px;
  border-radius: 3px;
  border: none;
  color: rgba(0, 0, 0, 0.68);
  background: rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
}
.topic-tags .tag:hover {
  background: rgba(0, 0, 0, 0.1);
}
.topic-content {
  max-width: 600px;
  margin: 0 auto;
}
.share-topic {
  margin: 50px;
}
.social-icons button {
  margin: 4px 0 0 0;
}
.social-icons button:hover {
  color: #fff;
}
.social-icons button.fb:hover::before {
  background-color: #4267b2;
  opacity: 1;
}
.social-icons button.tw:hover::before {
  background-color: #1da1f2;
  opacity: 1;
}
.social-icons button.insta:hover::before {
  background: #fccc63;
  background: #bc2a8d;
  background-image: linear-gradient(to bottom right, #bc2a8d, #fbad50);
  opacity: 1;
}
</style>