<template>
  <div>
    <v-layout row>
      <v-flex tag="h1" class="headline" mb-3>All the topics</v-flex>
    </v-layout>
    <v-layout row wrap text-xs-center mt3>
      <!-- <div v-if="loading"> -->
      <v-progress-linear v-show="loading" :indeterminate="true"></v-progress-linear>
      <!-- </div> -->
      <v-flex v-show="!loading" v-for="topic in topics" :key="topic.id" xs4 class="topic-card">
        <v-card class="text-lg-left">
          <v-card-title primary-title>
            <div>
              <div class="headline">{{ topic.title }}</div>
              <span class="grey--text">{{ topic.date }}</span>
              <div class="grey--text font-weight-medium">{{ texcerpt(topic.text, 10) }}</div>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn flat>Read</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import { excerpt } from "@/helpers";
export default {
  computed: {
    topics() {
      return this.$store.getters.loadedTopics;
    },
    loading() {
      return this.$store.getters.loading;
    }
  },
  methods: {
    onLoadTopic(id) {
      this.$router.push("/topics/" + id);
    },
    texcerpt(text, num) {
      return excerpt(text, num);
    }
  }
};
</script>

<style></style>
