<template>
  <div>
    <v-app>
      <!-- <v-snackbar v-model="notification.display" :color="notification.color" :timeout="4000" top right> -->
      <v-snackbar v-model="notification.display" :color="notification.type" top right>
        {{ notification.message }}
        <v-btn dark flat @click="notification.display = false">Close</v-btn>
      </v-snackbar>
      <!-- <v-navigation-drawer app></v-navigation-drawer> -->
      <v-toolbar app class="white">
        <v-toolbar-title class="headline text-uppercase">
          <router-link :to="{ name: 'home' }">
            <span>Vue</span>
            <span class="font-weight-light white--text forum">Forum</span>
          </router-link>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn flat v-for="hlink in headerLinks" :key="hlink.name">
            <router-link :to="{ name: hlink.name }">{{ hlink.text }}</router-link>
          </v-btn>
          <v-btn flat v-if="userIsAuthenticated" class="primary--text" @click="onLogout">
            <v-icon right dark>exit_to_app</v-icon>Sign out
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-content>
        <v-container>
          <transition name="fade" mode="out-in">
            <router-view/>
          </transition>
        </v-container>
      </v-content>
      <v-footer height="auto" color="primary darken-3">
        <v-layout justify-center row wrap>
          <v-btn v-for="link in footerLinks" :key="link" color="white" flat round>{{ link }}</v-btn>
          <v-flex secondary darken-5 py-3 text-xs-center dark--text xs12>&copy;2019 — Marko Petrovic</v-flex>
        </v-layout>
      </v-footer>
    </v-app>
  </div>
</template>

<script>
export default {
  name: "App",
  components: {},
  data: () => ({
    footerLinks: ["Home", "About Us", "Team", "Services", "Blog", "Contact Us"],
    snackbar: false
    // notification: false
  }),
  computed: {
    headerLinks() {
      let menuItems = [
        { name: "categories", text: "Categories" },
        { name: "alltopics", text: "All topics" },
        { name: "signin", text: "Log In" },
        { name: "register", text: "Register" }
      ];
      if (this.userIsAuthenticated) {
        menuItems = [
          { name: "categories", text: "Categories" },
          { name: "alltopics", text: "All topics" },
          { name: "newtopic", text: "New Topic" },
          { name: "profile", text: "Profile" }
        ];
      }
      return menuItems;
    },
    userIsAuthenticated() {
      return (
        this.$store.getters.user !== null &&
        this.$store.getters.user !== undefined
      );
    },
    notification() {
      return this.$store.getters.getNotification;
    }
  },
  watch: {
    notification(newNot, oldNot) {
      console.log(`This is a new notification object: ${newNot}`);
    }
  },
  methods: {
    onLogout() {
      this.$store.dispatch("logout");
      this.$router.push("/");
    }
  }
};
</script>
<style>
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.v-toolbar__items a {
  padding: 22px 0;
}
.v-toolbar__items .v-icon--right {
  margin-right: 5px;
  margin-left: 0;
}
.v-toolbar__items a.router-link-exact-active {
  color: #22313f;
}
footer .v-btn {
  margin-top: 30px;
  margin-bottom: 30px;
}
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>